<%- include('../partials/header') %>
<section id="puzzle-index" >
    <table>
        <thead>
            <tr>
                <th></th><br>
               
            </tr>
        </thead>
        <tbody class="t-body" >
            <% puzzles.forEach(function(p) { %>
            <tr class="each-puzzle">
                <td ><img src="<%= p.image %>" alt="" class="image-index">
                    <br>
                    <%= p.name %>
                    <br>
                    <%= p.pieceAmount %>
                    <br>
                    <a href="/puzzles/<%= p._id%>">Details</a>
                </td>
            </tr>
            <% }); %>
        </tbody>
    </table>
</section>

<%- include('../partials/footer') %>

