<%- include('../partials/header') %>

<section class="puzzle-index">
    <% puzzles.forEach(function(p) { %>
    <div class="each-puzzle">
        <div><img src="<%= p.image %>" alt="" id="image-index"></div>
        <div id="puzzle-name"><%= p.name %></div>
        <div><%= p.pieceAmount %> pieces</div>
        <div><a href="/puzzles/<%= p._id%>" id="puzzle-details-link">Details</a></div>
    </div>
    <% }); %>

</section>

<%- include('../partials/footer') %>

