<%- include('../partials/header') %>
<section id="puzzle-index" >
    <table>
        <thead>
            <tr>
                <th></th> 
            </tr>
        </thead>
        <tbody class="t-body" id="on-loan-vis">
            <% puzzles.forEach(function(p) { %>
            <tr class="each-puzzle">
                <td><img src="<%= p.image %>" alt="" class="image-index"></td>
                <td><%= p.name %></td>
                <td><%= p.pieceAmount %> pieces</td>
                <td><a href="/puzzles/<%= p._id%>">Details</a></td>
            </tr>
            <% }); %>
        </tbody>
    </table>
</section>

<%- include('../partials/footer') %>

