<%- include('../partials/header') %>

<section id="puzzle-index" >
    <table>
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% puzzles.forEach(function(p) { %>
            <tr>
                <td><img src="<%= p.image %>" alt="" width="96" height="110"></td>
                <td><%= p.name %></td>
                <td><%= p.pieceAmount %></td>
                <td><a href="/puzzles/<%= p._id%>">Details</a></td>
            </tr>
            <% }); %>
        </tbody>
    </table>
</section>

<%- include('../partials/footer') %>