<%- include('../partials/header') %>

<section id="details-page" >
   <img id="details" src="<%= puzzle.image %>" alt="puzzle" class="image-show">
    <br>
    <div><%= puzzle.name%></div>
    <div><%= puzzle.description%></div>
    <div><%= puzzle.pieceAmount%></div>
    <div><%= puzzle.dimensions%></div>
    <div><%= puzzle.difficultyRating%></div>
    <% if (user) { %>   
        <div id="borrow-button"><a href="">Request to Borrow!</a></div>
        <form action="/puzzles/<%= puzzle._id%>?_method=DELETE" method = "POST"> 
            <button type="submit">X</button>
    </form>
    <% } %>
</section>

<%- include('../partials/footer') %>


