<%- include('../partials/header') %>

<section class="puzzle-show-page">
    <img src="<%= puzzle.image %>" alt="puzzle" class="image-show">
    <div id="puzzle-description"><%= puzzle.description%></div>
    <br>
    <div class="puzzle-show-detals">
        <div><%= puzzle.pieceAmount%> pieces</div>
        <br>
        <div class="minor-details"><%= puzzle.dimensions%></div>
        <div class="minor-details"><%= puzzle.difficultyRating%></div>
    </div>
    <br>
    <% if (user && user._id.equals(puzzle.user) ) { %> 
        <a href="/puzzles/<%= puzzle._id %>/edit">Edit Puzzle</a>
        <br><br><br>
        <form action="/puzzles/<%= puzzle._id%>?_method=DELETE" method = "POST"> 
            <button class="delete-button" type="submit">Delete Puzzle</button> 
        </form>    
    <% } else if (user && !user._id.equals(puzzle.user)) { %>
        <div>Want to borrow? <br> Send the owner a message below!</div>
        <br>
        <form action="/puzzles/<%= puzzle._id%>/owner/<%= puzzle.user%>/messages %>" method="POST">
            <textarea style="width:300px; height:65px" name="msg"></textarea> <br> <br>
            <input class="buttons" type="submit" value="Send Message">
        </form>
    <% } %>
</section>

<%- include('../partials/footer') %>



