<%- include('../partials/header') %>

<section id="details-page" >
   <img id="details" src="<%= puzzle.image %>" alt="puzzle" class="image-show">
    <br>
    <div><%= puzzle.name%></div>
    <div><%= puzzle.description%></div>
    <div><%= puzzle.pieceAmount%></div>
    <div><%= puzzle.dimensions%></div>
    <div><%= puzzle.difficultyRating%></div>
   
 
    <% if (user && user._id.equals(puzzle.user) ) { %> 
        <form action="/puzzles/<%= puzzle._id%>?_method=DELETE" method = "POST"> 
            <button type="submit">X</button>
        </form>    
<<<<<<< HEAD
    <!-- ICE BOX TO DO: HIDE PUZZLE ON INDEX VIEW IF CHECKED -->
        <label for="on-loan">On Loan</label>
        <input type="checkbox" name="on-loan" unchecked>
        <a href="/puzzles/<%= puzzle._id %>/edit">Edit puzzle</a>
=======
>>>>>>> 5a8a1f2 (Re-add Edit & Update)
    <% } else if (user && !user._id.equals(puzzle.user)) { %>
        <form action="/puzzles/<%= puzzle._id%>/owner/<%= puzzle.user %>/messages" method="POST">
            <textarea name="body"></textarea> <br>
            <input type="submit" value="Send Message to Borrow Puzzle">
        </form>
    <% } %>
<<<<<<< HEAD

=======
<br><br><br>

 
>>>>>>> 5a8a1f2 (Re-add Edit & Update)
</section>

<%- include('../partials/footer') %>



