<%- include('../partials/header') %>

<section id="details-page" >
   <img id="details" src="<%= puzzle.image %>" alt="puzzle" class="image-show">
    <br>
    <div><%= puzzle.name%></div>
    <div><%= puzzle.description%></div>
    <div><%= puzzle.pieceAmount%></div>
    <div><%= puzzle.dimensions%></div>
    <div><%= puzzle.difficultyRating%></div>
   <br><br><br>
 
    <% if (user && user._id.equals(puzzle.user) ) { %> 
        <a href="/puzzles/<%= puzzle._id %>/edit">Edit puzzle</a>
        <br><br><br>
        <form action="/puzzles/<%= puzzle._id%>?_method=DELETE" method = "POST"> 
            <button id="delete-button" type="submit">X</button> Delete Puzzle
        </form>   
        
    <% } else if (user && !user._id.equals(puzzle.user)) { %>
        <form action="/messages %>" method="POST">
            <textarea name="body"></textarea> <br>
            <input type="submit" value="Send Message to Borrow Puzzle">
        </form>
    <% } %>

<br><br><br>

 
</section>

<%- include('../partials/footer') %>



