<%- include('../partials/header') %>

<section id="details-page" >
   <img id="details" src="<%= puzzle.image %>" alt="puzzle" class="image-show">
    <br>
    <div><%= puzzle.name%></div>
    <div><%= puzzle.description%></div>
    <div><%= puzzle.pieceAmount%></div>
    <div><%= puzzle.dimensions%></div>
    <div><%= puzzle.difficultyRating%></div>
   
 
    <% if (user && user._id.equals(puzzle.user) ) { %> 
        <form action="/puzzles/<%= puzzle._id%>?_method=DELETE" method = "POST"> 
            <button type="submit">X</button>
        </form>    
    <!-- ICE BOX TO DO: HIDE PUZZLE ON INDEX VIEW IF CHECKED -->
        <label for="on-loan">On Loan</label>
        <input type="checkbox" name="on-loan" unchecked>
    <% } else if (user && !user._id.equals(puzzle.user)) { %>
        <div id="borrow-button"><a href="/messages/:id">Request to Borrow!</a></div>
    <% } %>

</section>

<%- include('../partials/footer') %>



