<%- include('../partials/header')%>

<section class="message-index-page" >
    <table>
        <thead>
            <tr class="message-index-headings">
                <th></th>
                <% if (messages.length) { %> 
                    <th>Puzzle Name</th>
                    <th>Requester</th>
                <% } %> 
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% messages.forEach(function(m) {%>
                <tr class="message-index-body">
                    <td><img src="<%= m.puzzle.image %>" id="message-index-image" alt="puzzle"></td>
                    <td id="puzzle-name-index"><%= m.puzzle.name %></td>
                    <td><%= m.requesterName %></td>
                    <td id="message-index-link"><a href="/messages/<%= m._id%>">Message Details</a></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
    <br><br><br>
</section>

<%- include('../partials/footer')%>