<%- include('../partials/header')%>

<section class="message-page" >
    <table>
        <thead>
            <tr class="message-table" id="message-headings-index">
                <th></th>
                <th>Name</th>
                <th>Message Details</th>
            </tr>
        </thead>
        <tbody>
            <% messages.forEach(function(m) {%>
                <tr class="each-message-index">
                    <td><img src="<%= m.puzzle.image %>" alt="puzzle"></td>
                    <td><%= m.puzzle.name %></td>
                    <td><a href="/messages/<%= m._id%>">Details</a></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</section>
<%- include('../partials/footer')%>