<%- include('../partials/header')%>

<section class="message-show-page">
<table>
    <thead> 
        <tr>  
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% message.replies.forEach(function(m) { %>
            <tr class="each-reply">
                <td><%= m.requesterName %><%= m.ownerName %></td>
                <td><%= m.msg %></td>
            </tr>
        <% }) %>
    </tbody>    
</table>
<br><br>
    <form action="/messages/<%= message._id%>" method="POST">
        <textarea name="msg"></textarea><br>
        <input type="submit" value="Send Reply">
    </form>
</section>

<%- include('../partials/footer')%>



