<%- include('../partials/header')%>

<section class="message-show-page" >
    <form action="/messages/<%= message._id%>" method="POST" id="reply-button">
        <textarea style="width:300px; height:100px" name="msg"></textarea><br>
        <input type="submit" value="Send Reply" class="buttons" >
    </form>
    <br><br>
    <table>
        <thead> 
            <tr class="message-show-headings">  
                <th>User</th>
                <th>Message</th>
                <th>Sent</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% message.replies.forEach(function(m) { %>
                <tr class="message-show-replies">
                    <td><%= m.userName %></td>
                    <td id="msg" ><%= m.msg %></td>
                    <td><%= m.createdAt%></td>
                    <td> 
                        <% if (user && user._id.equals(m.user) ) { %> 
                            <form action="/messages/<%= m._id %>?_method=DELETE" method ="POST"> 
                                <button class="delete-button" class="buttons" type="submit">Delete Message</button> 
                            </form>   
                        <% } %>
                    </td>
                </tr>
            <% }) %>
        </tbody>    
    </table>
</section>

<%- include('../partials/footer')%>



