<%- include('../partials/header')%>

<section class="message-show-page" >
<table>
    <thead> 
        <tr id="message-show-headings">  
            <th>User</th>
            <th>Message</th>
            <th>Message Sent</th>
        </tr>
    </thead>
    <tbody>
        <% message.replies.forEach(function(m) { %>
            <tr id="message-show-each-reply">
                <td><%= m.userName %></td>
                <td><%= m.msg %></td>
                <td><%= m.createdAt%></td>
            </tr>
        <% }) %>
    </tbody>    
</table>
<br><br>
    <form action="/messages/<%= message._id%>" method="POST" id="reply-button">
        <textarea name="msg"></textarea><br>
        <input type="submit" value="Send Reply" >
    </form>
</section>

<%- include('../partials/footer')%>



